#wrapper {
    margin-top: 60px;
}

.navbar-finata {
    background-color: #32cfc0;
    height: 60px;
}
.badge-finata {
    background-color: #ec4113 !important;
    color: #fff !important;
    font-size: 0.8750em !important;
    border-radius: 200px;
    margin-top: -10px;
}
.sidebar {
    background-color: #4b5150 !important;
}
.nav-link-2 {
    padding: 0 !important;
    margin: 5px 5px;
}
.finata-sidebar {
  background-color: inherit;
}
.finata-item {
  display: block;
  width: 100%;
  padding: 0.25em;
  clear: both;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.finata-item:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
